.footer-join {
    width: 206px;
    height: 80px;
    margin-left: 70px;
    padding-top: 12px;

        &__list {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            align-items: center;
        }

        &__link {
            background-color: $linkFooterColor-bg;
            transition-property: background-color;
        }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer-join {
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;

        &__list {
            justify-content: space-between;
        }
        }
    }
