.footer {
    background-color: $sectionColor;
    width: 100%;

        &-section {
            padding-top: 60px;
            padding-bottom: 60px;
        }
}

.footer-contact {
        &__list {
            display: block;
            padding-top: 20px;
        }

        &__item {
            font-style: normal;
            font-size: $detailFont;
            line-height: 1.71;

                &--light {
                    color: $brightColor;
                }
        }
}

.footer-contact__link {
    color: $linkFooterColor;


        &:hover,
        &:focus {
            color: $brandColor;
        }

        &:visited {
            color: $linkFooterColor;
}
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer {
        max-width: 480px;
        height: 603px;

        &-contact__list {
            max-width: 251px;
            margin-left: auto;
            margin-right: auto;
        }

        &-contact__item {
        }
    }
}
@media screen and (min-width: 1200px) {
    .footer {
        &-section {
            display: flex;
            margin-left: auto;
        }
    }
}