.team-social-list {
    margin-left: 32px;
    margin-right: 32px;
    padding-bottom: 18px;


        &__link {
            background-color: $brightColor;
        }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .team-social-list {
        display: flex;
        justify-content: center;
    }
}